/* Make the whole page a flex container (vertical layout) */
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

/* Make main a flex container (horizontal layout) */
main {
  display: flex;
  flex-direction: row;
  flex: auto;
}

/* Article takes 2/3 of the width */
article {
  flex: 2;
  overflow-y: auto;
}

/* Aside takes 1/3 of the width */
aside {
  flex: 1;
  overflow-y: auto;
}

.logo {
  font-size: 30px;
  color: #facc15;
  margin-right: 15px;
}
